body {
	font-family: 'Muli', sans-serif;
	background: #f1f1f1;
	color: #666666;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

footer {
	height: 50px;
	font-size: 8px;
	border-top: solid 5px;
}

